
{% extends '::base.html.twig' %}

{% block body -%}

        {% for entity in entities %}
          <div class="blog-post">


                <h3 class="blog-post-title">
                    <a href="{{ path('post_show', { 'id': entity.id }) }}">
                        {{ entity.title }}
                    </a> 
                    <small> <a href="{{ path('post_edit', { 'id': entity.id }) }}">Rediģēt</a></small>
                </h3>


            <p class="blog-post-meta"> 
                {{ entity.created|date('d.m.Y') }}
                {# by <a href="#">Mark</a> #}
                {% if entity.published %}
                    <span class="glyphicon glyphicon-ok"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove"></span>
                {% endif %}
                
            </p>
            <p>{{ entity.description }}</p>
            <hr>



        {% endfor %}
    {% endblock %}
